:root{
    --primary-color: rgb(92, 81, 66);
    --text-color: rgb(46, 42, 36);
    --secondary-color: rgb(117, 129, 158);
    --transparent-color: rgba(211, 203, 203, 0.582);
    --select-color: rgb(245, 217, 196); 

}

/* --primary-color: rgb(92, 81, 66);
--text-color: rgb(46, 42, 36);
--secondary-color: rgb(187, 163, 145);
--transparent-color: rgba(230, 186, 152, 0.582);
--select-color: rgb(245, 217, 196);  */

@font-face {
    font-family: SairaCondensed;
    src: url(../fonts/SairaCondensed-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth; /*makes all scrolling smooth*/
   overflow: scroll;
   background: hsla(36, 12%, 16%, 1);
   background: linear-gradient(180deg, rgb(43, 52, 56) 0%, hsla(24, 8%, 48%, 1) 50%, hsla(27, 19%, 62%, 1) 100%);
   background-attachment: fixed;

}

body {
    
    font-family:SairaCondensed;
}

#profile-pic-title{ /*this element is to only be seen on smaller screen sizes*/
    visibility: hidden;
    height:0px;
    animation: fadeIn 1s;
}

#title {
    margin-top: 0px;
    flex: 0 100%;
    display: block;
    text-align: center;
    animation: inFromTop 1s;
}
#title h1{
    margin-top: -3%;
    color:var(--secondary-color);
    text-decoration: underline;
    font-size:10vh;
}    

#title h2{
    color:var(--secondary-color);
    font-size: 5vh;
}    

header {
    overflow: hidden;
    display: flex;
    margin-left:13vw;
    height: 25vh;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-image: url("../images/blurry-bg.jpg"); -------BK IMAGE*/
    background-size: 100%;
    background-attachment: fixed;
    border-bottom: 0.2vw solid var(--primary-color);
    font-size: xx-large;

}


/*by setting margins reletive to the viewport, the items will saty stationary on screen*/
nav {
    padding-top: 25vh;
}
header nav {
    display:inline-flex;
    flex-direction: column;
    order:1;
    text-align: center;
    position: fixed;
    width: 13vw;
    height: 100%;
    top: 0;
    left: 0;
    /* background-image: linear-gradient( rgb(247, 228, 204), rgb(87, 73, 51)); */
    /* background-image: url("../images/blurry-bg.jpg"); -------BK IMAGE */
    background-size: 100%;
    background-attachment: fixed;
    
    z-index: 9999;
  
}

header nav button{
    padding-left: 10%;
    text-align: center;
    margin-left: 1.28%;
    font-size: 110%;
    font-family:SairaCondensed;
    display: inline-block; /*set from flex child to block so margins can be set for spacing*/
    color: rgb(48, 48, 48);
    margin-top: 3vh;
    height: 20%;
    width: 13vw;
    text-decoration: none;
    background-color: var(--transparent-color);
    border-radius: 90px 0px 0px 90px;
    border-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: .5s;
    box-shadow: -5px 10px 5px;
}

header nav button:hover{
    width: 13vw;
    background-color: rgb(207, 195, 195);
}

.nav-selected {
    margin-left: 1.6%;
    padding-left: 25%;
   border-right: 0px;;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: snow;
    box-shadow: -5px 18px 5px;
  
}
.nav-selected:hover{
    background-color: snow;
}


header nav img{
    margin-top: 1vh;
    border-radius: 45%;
    max-height: 13vw ;
    max-width: 13vw;
    animation: inFromLeft 2s;
}

#myLinks img{
    margin: 3px;
    margin-top: 8vh;
    width: 25%;
    transform: scale(.9);
    transition: .5s;
}
#myLinks img:hover{
   transform: scale(1.2);
}


/* END HEADER/NAV */


/*BEGIN ABOUT ME SECTION*/
#about{
    height: 75vh;
    font-size: 30px;
    background-color:snow;
    padding-bottom: 20px;
    border: 0.2vw solid var(--primary-color);
    text-align: center;
    margin-left:13vw;
   
}
#about h2{
    animation: fadeIn 2s;
    color:var(--primary-color);
    font-size: 200%;
}

/*BEGIN WORKS SECTION*/
#work {
    height: 100vh;
    color:var(--primary-color);
    background-color:snow;
    font-size: 30px;
    border: 0.2vw solid var(--primary-color);
    text-align: center;
    margin-left:13vw;
}

#work h2 {
    font-size: 200%;
    margin-bottom: 2%;
    height: auto;

    animation: fadeIn 2s;
}

/*children*/
.loading-message {
    animation: fadeIn .5s infinite alternate-reverse;
}

#works{
    display: flex;
    flex-wrap: wrap;
}
#works:hover{

    display: flex;
    flex-wrap: wrap;

}

#works a{
    text-decoration: none;
    text-align: left;
}

.project-card-container{
    padding-left: 10vw;
    width: 75vw;
display:flex;
justify-content:center;
flex-wrap: wrap;
flex-flow: row wrap;
}

.project-card {

    min-width: 30%;
    background-color: aliceblue;
    /* background-image: url("../../assets/images/CRTImage.jpg"); */
    background-position:center;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    width: 20vw;
    height: 30vh;
    border: 3px solid var(--primary-color) ;
    border-radius: 150px;
    font-size:1.5vw;
    box-shadow: inset;
    animation-name: inFromBelow;
    transform: scale(1);
    transition:  .5s;
    
    
}
.project-card:hover {
    position: static;
    z-index: 10;
 
    transform: scale(1.05);
    box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.5);
}
.selected-card {
    position: static;
    z-index: 11;
 height: 45vh;

    transform: scale(1.5);
    box-shadow: -20px 10px 5px rgba(0, 0, 0, 0.5);
}
.selected-card:hover {
    position: static;
    z-index: 11;

    transform: scale(1.5);
    box-shadow: -20px 10px 5px rgba(0, 0, 0, 0.5);
}

.project-card h4{
    pointer-events: none;
margin-top: 5%;
font-size: xx-large;
}
.project-card p{
    pointer-events: none;
    margin-top: 1%;
    color: var(--text-color);
    padding: 00px 10px 0px 10px;
    
    font-size: x-large;
}
.selected-card p {
    font-size: large;
}

 .git-link{
    margin-top: 0px;
    margin-bottom: 0px;
    width:13%;
    transition: .5s;
}
.selected-card .git-link{
    width:10%;
}
.img-container {
    height: 15%;
   
}
.selected-card .img-container {
    height: 10%;

}

.screenshot {
    animation: fadeIn 1s;
    border: 1px solid black;
    border-radius: 25px;
    align-self: center;
    max-width: 100%;
    max-height: 30%;
    }

.more-info {
  
    height: 70%;
}
.tech-title{
  padding-top: 1px;
    flex: 1;
    animation: fadeIn 1.5s;
    font-weight: bold;

}
.columns-list{
    columns: 2;
    font-size: large;
    font-weight:normal;
    list-style-type: none;
    animation: fadeIn 2s;
}


.project-card .liveLink{
    text-decoration: none;
}
.liveLinkDiv  {
    
    margin-top: auto; 
}
/* This simply sets an animation to hide a weird transition when a card get larger when selected.  */
 .reset  {
    animation: fadeIn 3s ;
    margin-top: auto; 
}


                            
/*BEGIN FOOTER SECTION*/
#contact {
    height: 75vh;
    color:var(--primary-color);
    background-color:snow;
    list-style: none;
    font-size: 30px;
    border: 0.2vw solid var(--primary-color);
    text-align: center;
    margin-left:13vw;
   
}
#contact h2{
    font-size: 200%;
    animation: fadeIn 2s;
    border-bottom: 8px solid var(--secondary-color);
}




 /* ----------Media Queries SMALL DESKTOP screens 980px breakpoint---------- */
 @media screen and (max-width: 980px)
 {
     header, #about, #work, #contact {
         margin-left: 0px;
     }

     #about, #work, #contact {
         
        scroll-margin-top: 45px;
    }
    #about h2, #work h2, #contact h2 {
         
        font-size: 28px;
    }

     #title{
        margin-top: 10vh;
     }

     #profile-pic{
        order:5;
        visibility: hidden;
    }

    #profile-pic-title{
        padding-top: 1px;
        visibility: visible;
        border-radius: 50%;
        height:20vh;
    }
    
    header nav {
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100vw;
        height: 45px;
    }

    header nav a{
        flex:1 25%;
        height: 5vh;
        width: 21vw;
        margin-top:5px;
        font-size: 3vh;
        margin-left: auto;
        margin-bottom: auto;
    }

    #works a{
        font-size: 20px;
    }
    footer h2{
    margin-bottom: 10px;
    }
    footer ul{
        font-size: 20px;
        
    }


 }

 /* -----Media Queries TABLET screens----- */

@media screen and (max-width: 768px) {
    header nav{
        height:60px;
    }
    header nav a{
        text-align: center;
        width: 150px;
        height: 50px;
        font-size: 30px;
 
    }

}

/* -----Media Queries PHONE screens----- */
@media screen and (max-width: 575px){
    
    header nav{
        height:83px;
    }
    header nav a{

       height: 35px;
       font-size: 24px;
 
    }
    #about, #work, #contact {
        scroll-margin-top: 83px;
    }
    #title{
        margin-top: 13vh;
     }

    #title h1{
        font-size: 35px;
    }

    #title h2{
        font-size: 20px;
    }

    header nav a{
        flex:1 50%;
 
 
    }
    #morcal{
        height: 200px;
    }
    #runbuddy, #breakout{

        height: 150px;
    }
}

/*ANIMATION SECTION*/
@keyframes fadeIn {
    from{
        
        opacity: 0;
    }
}
@keyframes growHor {
    from{
        
    transform: scaleX(0);
    }
}

@keyframes growVert {
    from{
        
        transform: scaleY(0);
        }
}
@keyframes flyIn {
    from{
        
        transform: scale(5) translate(75vw,75vh);
        opacity:0;
        filter:blur(10px)
    }
}

@keyframes inFromTop {
    from{
        opacity:0;
        transform: translate(0px,-200px);
        
    }
}

@keyframes inFromLeft {
    from{
        opacity:0;
        transform: translate(-200px,0px);
        
    }
}

@keyframes inFromBelow {
    from{
        opacity:0;
        transform: translate(0px,200px);
        
    }
}

@keyframes growIn{
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    
}

@keyframes bounce {
    from {
        transform: scale(.8);
    }
    to {
        transform: scale(1.9);
    }
}

/*Preset animation times*/

.growIn-1{
    animation: growIn .75s;
}
.growIn-2{
    animation: growIn 1s;
}
.growIn-3{
    animation: growIn 1.25s;
}
.growIn-3{
    animation: growIn 1.50s;
}

.growHor-1{
    animation: growHor .75s;
}
.growHor-2{
    animation: growHor 1s;
}
.growHor-3{
    animation: growHor 1.25s;
}
.growHor-3{
    animation: growHor 1.50s;
}
.growHor-4{
    animation: growHor 1.75s;
}

 
.fadeIn-1{
    animation: fadeIn 1s;
}
.fadeIn-2{
    animation: fadeIn 1.25s;
}
.fadeIn-3{
    animation: fadeIn 1.50s;
}
.fadeIn-4{
    animation: fadeIn 1.75s;
}
.fadeIn-1{
    animation: fadeIn 2s;
}


.inFromLeft-1 {
    animation: inFromLeft .75s;
}
.inFromLeft-2 {
    animation: inFromLeft 1s;
}
.inFromLeft-3 {
    animation: inFromLeft 1.25s;
}
.inFromLeft-4 {
    animation: inFromLeft 1.5s;
}